.main-header {
  text-align: center;
  color: black;
  border: black 5px solid;
  width: 50vw;
  font-size: 40px;
  margin: auto;
  
}

h2 {
  background-color: aquamarine;
}

body {
  background-color: cornflowerblue;
  color: ghostwhite;
  font-size: 25px;
  font-family: font-family: 'Open Sans', sans-serif;
  ;
}

#id {
  color: saddlebrown;
}
img {
  width: 500px;
  margin: 30px auto;
display: block;


}

