h1,h2 {
  background-color: red;
}

body {
  background-color: cornflowerblue ;
  color: ghostwhite;
  font-size: 25px;
}

.main-header {
  color: cornsilk;
}
#id {
  color: saddlebrown;
}
.main-header {
  text-align: center;
  border: 3px solid 
  crimson;
  padding: 20px 2px;
  
  


}